.messages {
	display: flex;
	justify-content: center;

	.container {
		width: 1400px;
		padding: 50px 0px;

		.title {
			display: flex;
			justify-content: space-between;
		}

		table {
			width: 100%;

			tr {
				height: 50px;
				th {
					text-align: left;
					color: #242424;
					line-height: 1.5;
				}
				td {
					color: #242424;
					line-height: 1.5;
					font-size: 15px;
					font-weight: 300;
					padding: 10px;

					&:first-child {
						font-weight: 500;
					}

					// &:nth-child(2),
					// &:nth-child(3) {
					// 	// color: gray;
					// }
				}

				button {
					background-color: #f32a4c;
					color: white;
					padding: 10px;
					border: none;
					cursor: pointer;
				}

				&.active {
					background-color: #f8f0f1;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.container {
			padding: 20px 10px;

			.title {
				h1 {
					font-size: 25px;
				}
			}

			table {
				tr {
					th {
						font-size: 13px;
						text-align: center;
					}

					td {
						font-size: 13px;
						text-align: center;
					}
				}
			}
		}
	}
}
