.navbar {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f32a4c;
	color: white;
	transition: 0.5s all ease;
	position: sticky;
	top: 0;
	z-index: 999;

	&.active {
		background-color: white;
		color: black;
	}

	.container {
		width: 1400px;
		display: flex;
		justify-content: space-between;
		padding: 20px 0px;

		.logo {
			.icon {
				width: 150px;
			}
		}

		.links {
			display: flex;
			align-items: center;
			gap: 24px;
			font-weight: 500;

			.user {
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				position: relative;

				img {
					width: 32px;
					height: 32px;
					border-radius: 50%;
					object-fit: cover;
				}

				.options {
					position: absolute;
					top: 50px;
					right: 0;
					padding: 20px;
					background-color: white;
					border-radius: 10px;
					border: 1px solid lightgray;
					display: flex;
					flex-direction: column;
					gap: 10px;
					color: black;
					width: 200px;
					font-weight: 300;
				}
			}

			button {
				color: black;
				padding: 10px 28px;
				border-radius: 5px;
				border: 1px solid black;
				cursor: pointer;
				background-color: transparent;

				&:hover {
					background-color: #ff5f7a;
					border-color: #ff5f7a;
				}
			}
		}
	}

	hr {
		width: 100%;
		height: 0;
		border: 0.5px solid lightgray;
	}

	.menu {
		width: 1400px;
		padding: 10px 0px;
		display: flex;
		justify-content: space-between;
		font-weight: 300;
		color: #242424;
		font-size: 15px;
	}

	/* Media query for small screens (e.g., mobile) */
	@media (max-width: 768px) {
		.container {
			max-width: 100%;
			flex-direction: column; /* Stack elements vertically for mobile */
			align-items: center; /* Center all elements horizontally */
			text-align: center; /* Center text within elements */

			.links {
				.user {
					.options {
						width: 100px;
						font-weight: 300;
					}
				}
			}
		}

		.links {
			display: flex;
			flex-direction: row; /* Spread links and button horizontally on mobile */
			justify-content: center; /* Center links and button horizontally */
			font-size: 15px;
		}

		.menu {
			display: none; /* Show the menu on mobile view */
			flex-direction: row;
			justify-content: space-between;
			padding: 10px 0px;
		}
	}
}
