// @font-face {
// 	font-family: 'Airbnb-Cereal';
// 	src: url('../src//fonts/AirbnbCereal_W_Md.otf') format('otf');
// 	font-weight: normal;
// 	font-style: normal;
// }

* {
	font-family: 'Poppins', sans-serif;
	.link {
		text-decoration: none;
		color: inherit;
	}
}
